.Background{
    background-image: radial-gradient(circle at 10% 20%, rgba(0, 0, 0, 0.63) 0%, rgb(33, 33, 33) 99.2%) , url("../../assets/hand-drawn.jpg");
    background-size: cover; 
}


.RegisterForm{
    display: none;

}

.RegisterForm ::after{
    display: inherit;
}

.RegisterOverlay{

    display: none;
}

.RegisterOverlay::after{

    display: inherit;
}

.LoginOverlay{
    display: inherit;

}

.LoginOverlay ::after{
    display: none;
}

.LoginForm{
    display:inherit;
}

.LoginForm::after{
    display: none;
}

.translate-x-100{
    transform: translateX(70%);
    
}

.translate-x-200{
    transform: translateX(0%);
}
#logintext,
#registertext {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    animation-delay: 0.4s; /* Adjust the delay as needed */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}